.header {
  background-color: rgba(8, 161, 243, 0.551);
  text-align: center;
  padding: 10px;
}
.header input {
  border-radius: 20px;
  outline: none;
  border: none;
  width: 300px;
  padding: 5px;
  font-size: 1.4rem;
}
