#footer {
    background-color: rgb(118 203 248);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
    padding-bottom: 15px;
  }
  .selectedBox {
    background-color: white;
    padding: 5px 10px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
  }
  .selectedBox:hover{
      background-color: aqua;
      cursor: pointer;
  }